@font-face {
  font-family: 'fireyy';
  src: url('fireyy.eot');
  src: url('fireyy.eot?#iefix') format('embedded-opentype'),
       url('fireyy.woff') format('woff'),
       url('fireyy.ttf') format('truetype'),
       url('fireyy.svg#fireyy') format('svg');
  font-weight: normal; font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body {
    /*font: 200 18px/30px "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Hiragino Sans GB", "Hiragino Sans GB W3", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font: 200 18px/30px 'Lustria','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
    padding: 0;
    background: #ffffff;
    color: #666;
    -webkit-hyphens: auto;
    text-rendering: optimizeLegibility;
}

::selection,
::-moz-selection { 
    background: #fff186; 
}

h1, h2, h3 {
    font-size: 28px;
    line-height: 42px;
    color: #4c4c4c;
    margin: 0 0 10px;
}
h1 a,h2 a { color: #4c4c4c; }

h3 { font-size: 18px; }

blockquote {
    border-left: 5px solid rgba(0, 0, 0, 0.10);
    color: #999;
    padding-left: 40px;
    margin: 0 0 0 40px;
}
blockquote .source { text-align: right; }

pre {
    font-family: "Droid Sans Mono", monospace, Courier;
    white-space: pre;
    word-wrap: normal;
    margin-bottom: 40px;
    border: 1px solid #e0e5e9;
    border-radius: 4px;
    color: #2f353e;
    background: #fcfcfd;
}

strong {
    background: #FF9;
    color: #533B18;
    padding: 2px 3px;
    font-weight: normal;
}
ul, ol {
    margin: 0 0 40px 40px;
    color: #adadad;
}

ul li {
    list-style: disc;
}

ol li {
    list-style: decimal;
}

p {
    margin: 0 0 40px 0;
}

a {
  color: #2582c6;
  font-weight: 500;
  text-decoration: none;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

a:hover {
  color: #036; }
  
#timeline { width: 20px; height: 100%; position: fixed;top: 0;bottom: 0; left: 0; background: #f0f0f0; }

header,article,.paginator,footer { width: 60%; padding: 8% 20%; float: left; position: relative; -webkit-transition-duration: .2s; -moz-transition-duration: .2s; }

#header {
    margin: 0;
}

.subtitle { font-size: 14px; color:#999;margin-bottom: 10px; }

#nav {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
nav ul { list-style: none; margin: 0;padding:0; }
nav li { list-style: none; }
#nav li {
    color:#999;
    display: inline;
    margin: 0 20px 0 0;
    list-style: none;
}
li a, .meta a {
    color: #999;
    text-decoration: none;
}
li a:hover, .meta a:hover {
    color: #333;
}

.post:nth-child(even) {
    background-color: #fcfcfc;
}

.post img {
    vertical-align: top;
    border: 1px solid #f4f4f4;
    padding: 3px;
}

.post:after {
  content: "a";
  display: block;
  font-family: 'fireyy';
  position: absolute;
  top: -22px;
  left: 0;
  z-index: 18;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 4px solid #f0f0f0;
  border-radius: 26px;
  color:#fff;
  text-align: center;
  background: #ddd;
}

.link:after { content: "l"; }
.photo:after { content: "p"; }
.audio:after { content: "m"; }
.quote:after { content: "q"; }
.chat:after { content: "c"; }
.video:after { content: "v"; }

.meta {
  position: absolute;
  left: 50px;
  top: -15px;
  font-weight: bold;
}
.meta a { color:#ccc; }

.photo .content,.photoset .content {
    font-size: 12px;
}
.photoset img { margin-bottom: 5px; }

.tags{
  font-size: 14px;
  margin: 0;
}

.tags li { display: inline; margin-right: 5px; }

.tags li:before {
    content: "# ";
    color: #CCC;
}

.paginator { margin: 0 auto; white-space: nowrap; }
.paginator .prev { float:left; }
.paginator .next { float:right; }

#footer {
    clear: both;
    display: block;
    font-size: 12px;
    padding-top: 18px;
    color:#bbb;
    text-align: center;
}

@media screen and (max-width: 960px) {
    body {  }
}

@media screen and (max-width: 480px) {
    header, article, .paginator, footer { width: 80%; padding: 8% 10%; }
    .post img { max-width: 280px; }
}